# Ambiente virtual
.venv/

# Banco de dados local do Flask
instance/

# Arquivos do sistema
__pycache__/
*.pyc
.DS_Store

# Configs do VS Code
.vscode/

#dttc
.dir-to-text/

.dttc/

*.dttc

.dttcignore